.button{
  font-size: 1rem;
  background-color: #fb1;
  color: #764701;
  font-family: var(--type-first);
  cursor: pointer;
  border-radius: .4rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  border: none;
  min-width: 8rem;
  
}

.button:focus,
.button:hover{
outline: none;
box-shadow: 0 0 0 3px #fea , 0 0 0 4px #fb1;
}
.button:disabled{
  opacity: 0.5;
  cursor: wait;
}