.wrapper{
  margin-bottom: 1rem;
}

.input{
  display: block;
  width: 100%;
  padding: 0.8rem;
  background-color: #eee;
  border: 1px solid #eee;
  font-size: 1rem;
  border-radius: 0.4rem;
  transition: .3;

}

.input:focus
,.input:hover{
  outline: none;
  border: 1px solid #fb1;
  background-color: white;
box-shadow: 0 0 0 3px #fea;
}

.label{
  display: block;
  line-height: 1;
  padding-bottom: .5rem;
}

.error{
  color: #f31;
  font-size: .875rem;
  margin-top: .5rem;
}