.form{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
}
.form.single{
  margin: 1rem 0;
}

.textarea{
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-family: var(--type-first);
  resize: none;
  border: 1px solid #eee;
  padding: .5rem;
  background: #eee;
  transition: .2s;
}
.textarea:focus,
.textarea:hover{
  outline: none;
border-color: #fb1;
background-color: white;
box-shadow: 0 0 3px #fea;
}

.button{
  cursor: pointer;
  font-size: 1rem;
  padding: 0 1rem;
  background-color: transparent;
  border: none;
  overflow: hidden;  
  outline: none;
}


@keyframes latir{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.button:hover svg g,
.button:focus svg g {
 animation: latir .6s infinite;

}

.button:hover svg path,
.button:focus svg path {
  fill: #fea;
  stroke: #fb1;

}

